{{!-- This will be where the users posts are saved -> user feed --}}
{{!-- Loop over data in the user table within the database --}}

 {{!-- Need to mess with variable names on this page -> stole entirely from Project 2 --}}

    <div class="row">
        <div class="text-center mx-auto pt-2">
            <h1>{{name}}'s Blog</h1>
        </div>
    </div>
    {{#if blogPosts.length}}
        {{#each blogPosts as |blogPost|}}
            {{!-- {{> card-userPage}} --}}
            <h4><a href="/blogPost/{{blogPost.id}}">{{blogPost.title}}</a></h4>
            <p>{{blogPost.date_created}}</p>
            <p>{{blogPost.description}}</p>
        {{/each}}
    {{!-- {{else}}
        {{#if (is_my_page user.id userId)}}
            <div class="container">
                <div class="row justify-content-center">
                    <a href="/create"><button class="btn btn-secondary">Create your first post!</button></a>
                </div>
            </div>
        {{else}}
            <div class="container">
                <div class="row justify-content-center">
                    <p>This user hasn't created any posts yet!</p>
                </div>
            </div>
        {{/if}} --}}
    {{/if}}

    {{#if (is_my_page user.id userId)}}
    <div class="container">
        <div class="row justify-content-center">
            <a href="/create"><button class="btn btn-secondary">Create a post!</button></a>
        </div>
    </div>
    {{else}}
    <div class="container">
        <div class="row justify-content-center">
            <p>This user hasn't created any posts yet!</p>
        </div>
    </div>
    {{/if}}
