<!-- Loop over each object in the blogPosts array -->
{{#each blogPosts as |blogPost| }}
<div class="row mb-4 project">
    <div class="col-md-5">
        <h2>
            <!-- Call helper function with triple brackets to render the emoji span as HTML -->
            {{{get_emoji}}}
            <a href="/project/{{blogPost.id}}">{{blogPost.title}}</a>
        </h2>
        <p>
            <span for="img" aria-label="money">💲</span>
            <!-- Pass needed_funding value to the helper function -->

            {{!-- <span class="dollar-amount">{{format_amount project.needed_funding}}</span> --}}
            needed!
            
        </p>
        <p>Created by {{blogPost.user.name}} on {{format_date project.date_created}}</p>
    </div>
    <div class="col-md-7">
        <p>
            {{blogPost.description}}
        </p>
    </div>
</div>
{{/each}}

{{!-- 3 curly's if displays html --}}
{{!-- 2 otherwise --}}